.actionList {
    margin: 60px;
    overflow: auto;
    max-height: 900px;
}

.action-section {
    padding: 8px 0;
}

.actionList h5 {
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 16px 0;
}