.dashboard-primary {
    background-color: white; 
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;;
    text-align: center;
}

.bx_header {
    background: #23282d;
    color: #fff;
    padding: 8px;
}
span.tablenav-pages-navspan.button.disabled {
    padding: 0 0 0 0 !important;
}
.filter-container {
    display: flex;
    align-items: center;
} 
.filter-container br {
    display: none !important;
}
.filter-container select {
    margin-left: 5px;
    margin-right: 5px;
}
.tablenav .tablenav-pages {
    text-align: right !important;
    width: 100%;
}
a.next-page.button {
    padding: 0px !important;
}
a.last-page.button {
    padding: 0px !important;
}
.bx_import_single {
    padding: 5px;
    border-bottom: 1px solid #e2e2e2;
}
span.opt_span {
    vertical-align: -webkit-baseline-middle;
    margin-left: 5px;
}
.feature_shortcode {
    background: red;
    color: #fff;
    padding: 2px 5px 2px 5px;
}
.shortcode {
    cursor: pointer;
}
#bx_template_config label {
    font-weight: bold;
}
.contract_name_input {
  font-size: 20px;
  padding: 8px;
  width: 100%;
}
.bx_cron_setting .form-group label {
    display: block;
}
.option-checkbox {
    position: relative;
    left: 25%;
}
.ehome_svg_img {
    height: 625px;
    overflow:auto;
}
.bx_flex_ids {
    max-height: 461px;
    overflow: auto;
}
.svg_options {
    max-height: 455px;
    overflow: auto;
}
.flex_suggestions {
    position: absolute;
    width: 100%;
    z-index: 99;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    background: #fff;
    bottom: 78px;
    display:none;
}
.flex_suggestions span {
    color: #000;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}
.flex_suggestions a {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding: 1px 3px 0 3px;
    font-weight: bold;
    color: #000;
}
.flex_suggestions a:hover{
	background:#000;
	color:#fff;
}
.bx_cron_setting .form-group{
    float: left;
}
#scheduler fieldset{
	padding: .35em .625em .75em;
    margin: 4px 1px;
    border: 1px solid silver;
}
.builderux_flex_data{
	border: 1px solid #e2e2e2;
    padding: 10px;
    background: #DCDCDC;
}
input[type=checkbox]{
    margin: 0px;
}
select.bx_cronselect {
    margin-right: 7px;
}
#scheduler legend{
	margin-bottom:2px;
	width:auto;
}
.bx_popup_wrap{
	display: none;
}
.bx_success{
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 3px;
}
.bx_error{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.bux_admin_popup {
    position: fixed;
    background: #fff;
    top: 10%;
    height: 75%;
    width: 55%;
    margin: 0 auto;
    z-index: 999999;
}
.bx_admin_header {
    background: #808080;
    height: 33px;
    color: #fff;
    padding: 5px;
}
#bux_import_logs {
    overflow-y: auto;
    height: 73%;
    overflow-x: hidden;
}
.bx_single_row {
    padding: 2px;
}
.bx_admin_loader {
    /* background: url(../img/loader.gif); */
    height: 22px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: -5px;
}
.bx_import_status {
    color: green;
    font-size: 21px;
    font-weight: bold;
}
.bx_admin_footer {
    border-top: 1px solid #808080;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
}
.bx_popup_wrap {
    padding: 10%;
}
.bx_admin_overlay {
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    opacity: 0.8;
    left: 0;
}

.import_loader{
    position: absolute;
    right: 110px;
    top: 8px;
}
#builderux_pdf_template {
    border: 1px solid #e2e2e2;
    margin: 11px 4px 0 0;
    padding: 10px;
}
.m-b-10{
		margin-bottom:10px;
}
td.CustPortalLogoURL.column-CustPortalLogoURL img {
    width: 90px !important;
}
td.Attachments.column-Attachments img {
    width: 90px;
}
b.bx_card-title {
    background: #23282d;
    padding: 8px;
    color: #fff;
    width: 100%;
    text-align:center;
    display: inline-block;
}
.bx_label_settings .card{
	margin-top:0px;
}
.bux_single_sub {
    background: #e2e2e2;
}
.bx_pdf_shortcodes {
    padding: 10px 0;
}

.bx_cat_wrap {
    background: #fff;
    height: 350px;
    margin: 17px;
    overflow: auto;
}

.bx_cat_ul li {
    padding: 0 7px 0 7px;
    cursor:pointer;
}
.sub_cat_selected {
    font-weight: bold;
}
.bx_nodata_er{
	color:red;
	font-weight:800;	
}
.bx_loader {
    display: inline-block;
    margin: 0 7px 0px 0px;
}
#bx_template_config .wp-editor-wrap {
    border: 2px solid;
    padding: 3px;
}

.onoffswitch {
    position: relative; width: 102px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none !important;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Active";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Inactive";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 66px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.bx_divider
{
	width: 100%;
    height: 20px;
    text-align: center;
    display: block;
    margin-bottom: 18px;
}
.bx_ehome_attr {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.bx_remove_flex {
    padding: 5px;
}
.flex_head {
    background: #fff;
    color: #000;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.ehome_opt_search_wrap{
	margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}
.cad_selected, .bx_ehome_attr:hover{
	background:#e2e2e2;
	color:#000;
}
.ehome_svg_img {
    border: 1px solid #e3e3e3;
    padding: 12px;
}
.ehome_svg_img svg{
	width: 100%;
    height: 100%;
}
.ehome_svg_attr {
    background: #000;
    color: #fff;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.bx_divider span
{
	font-size: 27px;
    background-color: #F3F5F6;
    padding: 0 10px;
}
.selected_options label {
    margin: 2px 0px 0px 1px;
    font-weight: 500;
}
.bx_inline
{
	display: inline-block;
	width: 100%;
}
.topo_well {
    border: 1px solid #e2e2e2;
    padding: 5px;
    background: #e9e9e9;
    display: inline-block;
    width: 100%;
}
.tablenav-pages-navspan
{
height:auto;
}
th#field_options {
    width: 20%;
}
#toplevel_page_admin_builder_main li:nth-child(20), #toplevel_page_admin_builder_main li:nth-child(21), #toplevel_page_admin_builder_main li:nth-child(22), #toplevel_page_admin_builder_main li:nth-child(23), #toplevel_page_admin_builder_main li:nth-child(24), #toplevel_page_admin_builder_main li:nth-child(25), #toplevel_page_admin_builder_main li:nth-child(26), #toplevel_page_admin_builder_main li:nth-child(27), #toplevel_page_admin_builder_main li:nth-child(28), #toplevel_page_admin_builder_main li:nth-child(29), #toplevel_page_admin_builder_main li:nth-child(30), #toplevel_page_admin_builder_main li:nth-child(31), #toplevel_page_admin_builder_main li:nth-child(32), #toplevel_page_admin_builder_main li:nth-child(33), #toplevel_page_admin_builder_main li:nth-child(34), #toplevel_page_admin_builder_main li:nth-child(35), #toplevel_page_admin_builder_main li:nth-child(36), #toplevel_page_admin_builder_main li:nth-child(37){
display:block !important;
}
#bx_bararea {
    background: green;
    width: 0%;
    height: 25px;
    margin-bottom: 7px;
}
#bx_percent {
    text-align: center;
    font-weight: bold;
    display:none;
    color: #fff;
}

div#bx_import_status {
    display: inline-block;
    vertical-align: sub;
}
.editmode {
	border-color: green;
    border-radius: 5px;
	background-color: #dff0d8;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
	text-transform: uppercase;
	position: relative;
	
	-webkit-animation: bounce 800ms ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 800ms ease-out;
}
.admin_theme_setting_image {
  height: 200px;
  width: 100%;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.activate_hover:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  color: white;
  cursor: pointer;
  display: table;
  height: 200px;
  left: 5%;
  opacity: 0;
  position: absolute;
  font-weight: bold;
  top: 17%;
  transition: opacity 500ms ease 0s;
  width: 90%;
}
.active_bx_theme{
  color:green;
}

.nav-pills li a {
  text-transform: capitalize;
}
/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(-50%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(-15%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-webkit-transform:translateY(-10%);
  }
  97% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-webkit-transform:translateY(-5%);
  }
  100% {
  	-webkit-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

.bx_reserve_console {
    cursor: pointer;
    /* background: url(../img/consolelog.png); */
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 7px;
}
.Bx_admin_loader{
	/* background: url(../img/loading.gif); */
}

.border{
	padding: 20px;
    text-align: center;
    width: 100% !important;
}
.border input[type=file] {
    display: inline-block;
}
a.delete_custom_theme {
    float: right;
    background: #e84c4c;
    padding: 2px 6px;
    border-radius: 5px;
    color: #f7f7f7;
    line-height: 14px;
    text-decoration: none !important;
    font-size: 9px;
}
.themes h2 {height: auto !important;}









/* Admin CSS */
html, body {overflow-x: hidden;}
.wrap {margin: 0px 0px 0 0px;}
#wpcontent {padding: 0 10px 0 20px;}
.builderux-dashboard {float: left; border-color: #ccc !important; box-shadow: 0 0 30px rgba(0,0,0,0.2) !important;     width: 100%;}
.builderux-dashboard a.thumbnail { background: #fff; min-height: 140px;  color: #333; box-shadow: 0 0 20px rgba(0,0,0,0.1);}

.option-categories {float: left;}
.option-categories select, #bulk-action-selector-top, #bulk-action-selector-bottom{ height: 40px !important; border: 1px solid #ccc; width: 100%; border-radius: 0;}
.topo_well.category_box {background: #fff;padding: 10px 15px; min-height: 250px;}
.category_box center {font-size: 16px; font-weight: 500; text-transform: uppercase;}
.option-categories h1 { text-transform: uppercase;padding-bottom: 10px; background: #fff; margin-bottom: 20px;
text-align: center; color: #333; box-shadow: 0 0 20px rgba(0,0,0,0.1); font-size: 18px; border: 1px solid #ccc;}
.category_box label, .division label, .categories_title strong {padding-bottom: 5px;text-transform: uppercase; font-size: 12px;}
.category_box input[type=text] {height: 40px; border-radius: 0;}
.category_box input[type=submit] {border-radius: 0;height: 40px;text-transform: uppercase; font-size: 13px;
  font-weight: 600;}
.categories_title {padding-top: 30px;}
.categories_title strong {float: left; width: 100%;}
.overflow .bx_cat_wrap {height: 308px !important;}
.plan_category h1 {margin-top: 50px;}

p.search-box input {height: 40px !important;}
p.search-box input#search-submit {background: #337ab7;  border: 0; color: #fff;padding: 0 20px; border-radius: 0;}
.plural_form tr th {padding: 16px 0;text-transform: uppercase;font-weight: 600;}
.option-categories .tablenav .tablenav-pages {margin: 20px 0; height: auto;}
/*a.next-page, a.last-page, span.tablenav-pages-navspan, .tablenav-pages .current-page
{padding: 8px 15px !important;  border: 1px solid #ccc !important;}*/
input#doaction, input#doaction2 {background: #337ab7;color: #fff;border: 0;text-transform: uppercase;border-radius: 0; padding: 5px 15px !important;display: inline-block;float: left;width: auto; height: auto;}
#topo_grids .tablenav.top, .builderux_grid .widefat {clear: none;}
.tablenav .alignleft.actions.bulkactions { float: none;}

.add_process {background: #fff;padding: 20px 30px;width: 100%;max-width: 800px;margin: 0px auto 0 auto;
box-shadow: 0 0 20px rgba(0,0,0,0.1);display: grid;}
.add_process form input, .add_process form select {height: 40px; border-radius: 0;}
.add_process h1, .builderux_grid h1{text-transform: uppercase; padding-bottom: 15px;}
label {text-transform: uppercase; font-size: 12px; color: #333;}
div#topo_grids { float: left; height: auto;width: 100%;}


.plural_form thead tr th {padding: 8px 0 !important;}
#the-list tr:nth-child(2n+1) {background: #f5f5f5;}
.tablenav .tablenav-pages {margin: 20px 0 30px;}
.Answer br {display: none;}
#phase_options_form .topo_well {background: #fff !important;}
#phase_options_form .topo_well select {height: 40px; width: 100%;}
#phase_options_form .topo_well center {font-size: 16px; font-weight: 500; text-transform: uppercase;
  padding: 10px 0;}
div#topo_grids h3 {text-transform: uppercase; margin-bottom: 20px;}

#wpbody-content {padding-bottom: 20px;}
.__upload_file .panel.panel-primary {max-width: 600px;margin: 20px auto;border-color: #ccc; box-shadow: 0 0 20px rgba(0,0,0,.1); padding: 15px 20px;}
.__download_button { padding-top: 31px;}
.pdf_template_page div#wp-builderux_pdf_content-wrap { border: 0 !important;}
.pdf_template_page { background: #fff; float: left;}

.builder_setting .col-md-12 {padding: 0;}
.builder_setting .form-group {margin: 0;}
/*.builder_setting .col-md-6 {padding-left: 0;}*/
.builder_setting .tabcontent {background: #fff; padding: 10px 40px 40px;}
.builder_setting .tabcontent label { padding: 10px 0; font-size: 13px; margin: 0;}
span.tablinks { background: #fff !important; border-bottom: 1px solid #ccc !important; text-transform: uppercase;
  font-size: 16px !important;padding: 20px 15px !important;}
span.tablinks.active, span.tablinks:hover {background-color: #0073aa !important; color: #fff;}
span.tablinks:last-child{border: 0 !important;}
.builder_setting #scheduler fieldset {padding: 20px 40px; margin: 10px 0px 25px;}
.tabcontent select.bx_cronselect {height: 40px;}
.tabcontent input[type=number], .tabcontent input[type=text] {height: 40px;}
.builder_setting .active_bx_theme, .builder_setting .activate_hover {background: #f5f5f5; padding: 10px 20px 20px; margin: 0 20px 20px; box-shadow: 0 0 20px rgba(0,0,0,0.2); border: 1px solid #fff;}
.builder_setting .active_bx_theme img, .builder_setting .activate_hover img {mix-blend-mode: multiply;}
.__upload_bx_theme {background: #23282d;color: #fff;padding: 10px 0; text-align: center;font-size: 20px;
  text-transform: uppercase;}

.bx_buttons {padding: 10px 15px 20px;}
.builderux_labels b.bx_card-title {background: #337ab7; padding: 15px 0; text-transform: uppercase;}
.builderux_labels .bux_single_sub {padding: 10px; background: #fff;}
.builderux_labels strong {text-transform: uppercase; font-weight: 600; padding-bottom: 4px !important; display: block;}
.builderux_labels input.form-control {height: 40px;border-radius: 0; border: 1px solid #ccc;}
input.btn {border-radius: 0;padding: 10px 20px; text-transform: uppercase;}
 button.btn  {border-radius: 0;padding: 10px 20px; text-transform: uppercase; margin-top: 15px;}
form.builderux_labels { float: left; width: 100%;}
.__email_template a {background: #337ab7 !important;padding: 10px 20px !important;color: #fff !important;border: 0 !important;}
.__email_template h3 {padding-bottom: 20px;}
.__lead_headr_ux .topo_well {background: #fff; padding: 20px;}
.__document_template div#wp-builderux_email_template-wrap {padding-top: 30px;}
.__lead_headr_ux input {font-size: 16px; height: 40px;}
.add_new_user .topo_well {background: #fff;padding: 20px;margin-bottom: 10px; box-shadow: 0 0 20px rgba(0,0,0,0.1);}
.add_new_user input { height: 40px; border-radius: 0;}
.alert-info {color: red !important; background-color: #ffffff !important; border-color: #dddddd !important;}

.add_new_lead_form input[type=text], .add_new_lead_form select {height: 40px;}
.bx_switch-label {border: 0px !important;border-radius: 30px !important;height: 30px;padding: 0 !important;}
.bx_switch {margin-top: 7px;width: 100px;}
div#topo_grids { background: #fff; padding: 20px; box-shadow: 0 0 20px rgba(0,0,0,0.1); width: 100%;
 margin: 0 auto;}
.upload_file_img { padding-top: 30px;}
.upload_file_img .col-md-6.form-group { margin-bottom: 20px;}
.submit_button {width: 100%;}

/* Upload Button CSS */
.upload_file_img {position: relative;display: inline-block;}
.upload_file_input {border: 1px solid #ccc; color: #0073aa;; background-color: white; padding: 10px 10px;font-size: 12px;font-weight: bold; text-transform: uppercase; display: inline-block; width: 97%; text-align: center; }
i.upload-icon {font-size: 16px; color: #0073aa; padding-right: 3px;}
.upload_file_img input[type=file] {font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0; cursor: pointer;}
.upload_file_img img {object-fit: cover; padding-top: 5px;}
/* Upload Button CSS */

.lead_section1{float: left; width: 100%;}

