.navbarside {
    /* height: 100%;
    background-color: "#18191A"; */
}

.sidebar{
    /* display: flex;
    height: 100vh;
    overflow: scroll initial;
    background-color: #333; */
    display: flex;
    /* position: fixed; */
    overflow: scroll initial;
    left: 0;
    top: 0;
    height: 100vh;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}