.item-menu{
  position: absolute;
  left: auto;
  width: 130px;
  margin: 1rem;
  height: 500px;
  border: 1px solid #ccc;
}

.list-items{
  overflow: auto;
  height: 900px;
}

.selected {
  background: rgb(240, 240, 243) !important;
}


.item-menu p {
  margin: 1rem;
}

p {
  font-size: 14px;
}

.xbutton {
  visibility: hidden;
  background-color: burlywood;
}

.xbutton:hover {
  visibility:visible;
  background-color: blueviolet;
  
}

.note-item-title{
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  min-height: 14px;
  margin-bottom: 4px;
  color: rgb(23, 43, 77);
}

.note-item-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  min-height: 14px;
  margin-bottom: 4px;
  color: rgb(23, 43, 77);
}