.ganttView {
    margin: 0 20px;
}



.table-container{
    /* flex: 1 1 auto; */
    /* position: relative; */
    height: 900px;
    background-color: blanchedalmond;
    /* display: table; */
    width: 1900px;
}

/* width */
.table-container ::-webkit-scrollbar {
height: 15px;

}

/* Track */
.table-container ::-webkit-scrollbar-track {
border-radius: 5px;

}

/* Handle */
.table-container ::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}

/* Handle on hover */
.table-container ::-webkit-scrollbar-thumb:hover {
background: #555;
}

/* th, td {
    border-right: 1px Solid Black;
} */

col {
    border-right: 1px Solid Black;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


.table-data-table {
    width: 600px;
    height: 100%;
    position: sticky;
    float:left;
    background-color: cornflowerblue;
    border-right: 3px solid rgb(223, 225, 230);
}

.table-data-header {
    background-color: darksalmon;
    /* width: 100%; */
    max-height: 56px;
    /* box-sizing: border-box;
    border-bottom: 1px solid rgb(223, 225, 230);
    /* background-color: rgb(244, 245, 247); */
    /* position: sticky; */
    /* top: 0px;
    z-index: 11;
    border-top: 1px solid rgb(193, 199, 208);
    border-left: 1px solid rgb(193, 199, 208);
    border-radius: 3px 0px 0px; */
    
}

.table-data-header-name {
    height: 56px;
    display: table-cell;
    min-width: 150px;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    background-color: darksalmon;
}
    
.table-data-body-separator {
    height: 844px;
    min-width: 150px;
    top: 0px;
    bottom: 0px;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-right: 1px solid rgb(223, 225, 230);
    box-sizing: border-box;
    float:left;
    position:static;
}




.table-bar-table {
    
    background-color: blueviolet;
    width: 1300px;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
   

}

.table-bar-header {
    background-color: rgb(233, 122, 215);
    /* width: 100%; */
    max-height: 56px;
    width: 1800px;
    
    /* box-sizing: border-box;
    border-bottom: 1px solid rgb(223, 225, 230);
    /* background-color: rgb(244, 245, 247); */
    /* position: sticky; */
    /* top: 0px;
    z-index: 11;
    border-top: 1px solid rgb(193, 199, 208);
    border-left: 1px solid rgb(193, 199, 208);
    border-radius: 3px 0px 0px; */
       
}

.table-bar-header-month {
    background-color: darksalmon;
    height: 56px;
    display: table-cell;
    min-width: 150px;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
}



.table-bar-body {
    width: 1800px;
}

.table-bar-body-separator {
    height: 844px;
    min-width: 150px;
    top: 0px;
    bottom: 0px;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-right: 1px solid rgb(223, 225, 230);
    box-sizing: border-box;
    float:left;
    position:static;
}

.table-data-celled {
    height: 56px;
    width: 250px;
    /* background-color: aliceblue; */
    
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-right: 3px solid rgb(28, 52, 114);
    box-sizing: border-box;
    float:left;
    position: relative;
}

.table-data-content {
    background-color: blanchedalmond;
    min-height: 844px;
    top: 0px;
    bottom: 0px;
    position: inherit;
    z-index: -1;
}

.table-data-body-cell {
   
    background-color: rgb(184, 164, 76);
    width: 150px; 
    height: 56px;
    
    /* margin-left: 400px;
    margin-top: 18px;
    margin-bottom: 18px;
    flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    box-sizing: border-box;
        */
}
