

.ganttView {
    margin: 0 20px;
}

.ganttView .col {
    padding: 0px;
    
}

.ganttTable{
    
    max-width: 1100px;
}

.activeCel{
    background-color:blueviolet !important;
}

.activeCelChild{
    background-color: teal !important;
}

.ganttTable th {
    height: 33px;
}

.ganttTable td {
    height: 33px;
}

.headerNumber {
    font-size: small;
}

